@model Transporto.ViewModels.EmpresaCliente.ListEmpresaViewModel
@{

    ViewBag.Title = "Contactos :";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contactos</h2>

<div class="col-md-12">
    <div class="card-box">
        @*<a class="btn btn-primary btn-sm" href="@Url.Action("AddEditEmpresaCliente", "EmpresaCliente")">Nuevo</a>*@
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>Ruc</th>
                    <th>Empresa</th>
                    @*<th>Telefono Corporativo</th>
                    <th>Direccion</th>
                    <th>Distrito</th>
                    <th>Email Corporativo central</th>
                    <th>Email por sede</th>
                    <th>Observaciones</th>*@
                    <th>Dni Contacto</th>
                    <th>Nombre del contacto</th>
                    <th>Celular del contacto</th>
                    <th>Email del contacto</th>
                    @*<th></th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var empresa in Model.LstEmpresa)
            {
                    <tr>
                        <td> @empresa.Ruc</td>
                        <td> @empresa.NombreEmpresa</td>
                        @*<td> @empresa.TelefonoCorporativo</td>
                        <td> @empresa.Direccion</td>
                        <td> @empresa.Distrito.NombreDistrito </td>
                        <td> @empresa.EmailCorporativa</td>
                        <td> @empresa.EmailPersonal</td>
                        <td> @empresa.Observaciones</td>*@
                        <td> @empresa.DNIContaco</td>
                        <td> @empresa.NombreContacto</td>
                        <td> @empresa.CelularContacto</td>
                        <td> @empresa.EmailContaco</td>

                        @*<td> <a class="btn btn-primary btn-sm pull-right" href="@Url.Action("AddEditEmpresaCliente", "EmpresaCliente", new { @clienteId = @empresa.IDEmpresaCliente })">Editar</a></td>
                        <td> <a class="btn btn-danger btn-sm pull-right" @Data.ModalLink("_DeleteEmpresaCliente", "EmpresaCliente", new { @clienteId = @empresa.IDEmpresaCliente })>Eliminar</a></td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


