 @{

    ViewBag.GUID = ViewBag.GUID ?? Guid.NewGuid().ToString();

    var hasModalForm = ViewBag.Form != null && ViewBag.Form is ModalFormHelpers;
    var hasAjaxModalForm = ViewBag.Form != null && ViewBag.Form is ModalAjaxFormHelpers;

    if (hasAjaxModalForm && String.IsNullOrEmpty(ViewBag.Form.AjaxOptions.UpdateTargetId))
    {
        ViewBag.Form.AjaxOptions.UpdateTargetId = ViewBag.GUID;
    }
}
@RenderSection("Styles", false)

<div id="@ViewBag.GUID">

    <div class="modal-header">
        <button style="margin-top: 6px !important;" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5>
            @if (ViewBag.PageIcon != null)
            {
                <i class="@ViewBag.PageIcon contrast">&nbsp;</i>
            }
            @ViewBag.Title
        </h5>
    </div>

    @if (hasModalForm)
    {
        <text>@{ViewBag.Form.BeginForm(Html);}</text>
            }
            else if (hasAjaxModalForm)
            {
                <text>@{ViewBag.Form.BeginForm(Ajax);}</text>
                    }

    <div class="modal-body">
        @RenderBody()
    </div>

    <div class="modal-footer">
        @if (ViewBag.DeshabilitarCerrarFooter == null || !ViewBag.DeshabilitarCerrarFooter)
        {
            <button type="button" class="btn btn-inverse btn-sm" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
        }       
        @RenderSection("Footer", false)
    </div>

    @if (ViewBag.Form != null || ViewBag.AjaxForm != null)
    {
        Html.EndForm();
    }
</div>

<script id="rebind-jquery-@ViewBag.GUID">
    RebindJquery($('#rebind-jquery-@ViewBag.GUID').closest('.modal'));
</script>

@if (ViewBag.ModalDialogClass != null)
{
    <script id="modal-dialog-class-@ViewBag.GUID">
        $('#@ViewBag.GUID').closest('.modal-dialog').addClass('@ViewBag.ModalDialogClass');
    </script>
}

@if (ViewBag.ModalClass != null)
{
    <script id="modal-class-@ViewBag.GUID">
        $('#@ViewBag.GUID').closest('.modal').addClass('@ViewBag.ModalClass');

    </script>
}
@if (ViewBag.ModalSize != null)
{
    <script>
        $('.modal-dialog').addClass('modal-@ViewBag.ModalSize');
    </script>
}


@RenderSection("Scripts", false)

<script>

    $('[data-type="cascade-dropdown-list"]').on('change', function (e) {

        // Url de datos json
        var sourceUrl = $(this).attr('data-source-url');

        // Nombre del parámetro de filtro
        var dataFilter = $(this).attr('data-filter');

        // Valor seleccionado
        var selectedId = $(this).val();

        // Select a actualizar
        var updateTarget = $(this).attr('data-update-target');

        var postData = {};
        postData[dataFilter] = selectedId;
        var $updateTarget = $(updateTarget);
        $updateTarget.attr('disabled', 'disabled')
        $updateTarget.find('option[value!=""]').remove();
        $.post(sourceUrl, postData, function (data) {
            var $updateTarget = $(updateTarget);
            var valueMember = $updateTarget.attr('data-value-member')
            var textMember = $updateTarget.attr('data-text-member')
            for (i = 0; i < data.length; i++) {
                $updateTarget.append($('<option>').text(data[i][textMember]).attr('value', data[i][valueMember]));
            }
            $updateTarget.removeAttr('disabled');
            $updateTarget.trigger('change');
        });
    });

</script>
