
@model Transporto.ViewModels.vehiculo.ListVehiculoViewModel
@{
    ViewBag.Title = "Vehiculo";
}

@section Breadcrumbs{
}
<div class="col-lg-12">
   
    <section class="box">
        <header class="panel_header">
            <h2 class="title pull-left"><i class="fa fa-list-alt"></i> Listado Vehiculos</h2>
        </header>
        @*<header class="panel_header">
                <h2 class="title pull-left"><i class="fa fa-list-alt"></i> Listado (@Model.nElementos elementos)</h2>
            </header>*@
        <div class="content-body">
            <!-- Filtros - Inicio -->
            <div class="row">
                <form>
                    @*@using (Html.BeginForm("ListVehiculo", "Vehiculo", FormMethod.Post, new { id = "frmFilters" }))
                        {*@
                    <div class="col-md-12">
                        <!-- Page -->
                        @Html.HiddenFor(x => x.numeroPagina)
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(x => x.fMarca, new { @class = "form-label" })
                                @Html.TextBoxFor(x => x.fMarca, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(x => x.fModelo, new { @class = "form-label" })
                                @Html.TextBoxFor(x => x.fModelo, new { @class = "form-control" })
                            </div>
                        </div>
                        @*<div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(x => x.fEstado, new { @class = "form-label" })
                                    @Html.DropDownListFor(x => x.fEstado, new SelectList(Model.lstEstado, "Value", "Text"), "[-Seleccione-]", new { @class = "form-control" })
                                </div>
                            </div>*@

                    </div>

                    <!-- Submit -->
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-search"></i> Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    @*}*@
                </form>
            </div>
            <!-- Filtros - Fin -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive" data-pattern="priority-columns">
                        <form method="post">
                            <table id="tech-companies-1" class="table table-small-font table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">Placa</th>
                                        <th class="text-center">Marca</th>
                                        <th class="text-center">Modelo</th>
                                        <th class="text-center">Peso</th>
                                        <th class="text-center">Volumen</th>
                                        <th class="text-center" width="10%">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody id="guias">
                                    @for (int i = 0; i < Model.LstVehiculo.Count; i++)
                                    {
                                        var item = Model.LstVehiculo[i];
                                        <tr>
                                            <td>@item.Placa</td>
                                            <td>@item.Marca</td>
                                            <td>@item.Modelo</td>
                                            <td>@item.Peso</td>
                                            <td>@item.Volumen</td>
                                            <td class="text-center">
                                                <div class="dropdown">
                                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                                        Opciones
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("AddEditVehiculo", "Vehiculo", new { VehiculoId = item.VehiculoId })"><i class="fa fa-pencil"></i> Editar</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("AddEditSoat", "Vehiculo", new { vehiculoId = item.VehiculoId  })"><i class="fa fa-refresh"></i> Soat</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6 col-sm-4 text-left" style="padding-top: 20px; display: inline-flex">
                                        <a class="btn btn-primary" href="@Url.Action("AddEditVehiculo", "Vehiculo")"><i class="fa fa-plus-square-o"></i> Nuevo</a>
                                    </div>
                                    <div class="col-md-6 col-sm-8 col-xs-8 text-right">
                                        @Html.PagedListPager(Model.LstVehiculo, page => Url.Action("ListVehiculo", new
                                   {
                                       numeroPagina = page,
                                       fMarca = Model.fMarca,
                                       fModelo = Model.fModelo,
                                       fEstado = Model.fEstado
                                   }), ConstantHelpers.Bootstrap3Pager)
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
