@model Transporto.ViewModels.Ayudante.AddEditAyudanteViewModel
@{
    ViewBag.Title = "Agregar/Modificar Ayudante";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-6" style="margin-top:25px;">
    <div class="row">
        <form class="form-horizontal" method="post">
            @Html.HiddenFor(x => x.IDAyudante)
            <div class="form-group">
                @Html.LabelFor(x => x.NombreAyudante)
                @Html.TextBoxFor(x => x.NombreAyudante, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.ApellidoAyudante)
                @Html.TextBoxFor(x => x.ApellidoAyudante, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.DNIAyudante)
                @Html.TextBoxFor(x => x.DNIAyudante, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.DireccionAyudante)
                @Html.TextBoxFor(x => x.DireccionAyudante, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.TelefonoAyudante)
                @Html.TextBoxFor(x => x.TelefonoAyudante, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.CelularAyudante)
                @Html.TextBoxFor(x => x.CelularAyudante, new { @class = "form-control" })
            </div>

           
            @*@Html.DropDownListFor(x => x.DistritoId, new SelectList(Model.ListDistrito,"DistritoId", "NombreDistrito"), "Seleccione")*@
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>

